body {
    margin: 0px;
    padding: 0px;
    background: url(background.jpg)  repeat fixed;
    color: #CCCCCC;
    font: 76% Arial, Helvetica, sans-serif;
    text-align: center;
    }
.page-wrapper {
    margin: 0px auto 60px;
    width: 760px;
    border-top: 2px solid #000000;
    border-right: 2px solid #000000;
    border-bottom: 2px solid #000000;
    border-left: 2px solid #000000;
    padding: 0px 0px 150px;
    background: url(page.jpg) repeat fixed;
    text-align: left;
    position: relative;
}
header {
    position: relative;
    display: block;
}
header h1 {
    margin-bottom: 12px;
    height: 186px;
    text-align: center;
    color: #F2F2F2;
    font-size: 32px;
}
.comp {
    margin: 10px 0px 30px 235px;
    width: 510px;
    border: 2px solid #000000;
    padding: 10px 0px;
    background: url(innerbg1.jpg);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.comp h2 {
    width: 400px;
    margin: 0px;
    padding: 0px 0px 0px 25px;
    background: url(textbg.jpg) no-repeat left top;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    position: absolute;
    top: -24px;
    z-index: 1;
    left: -3px;
    height: 23px;
    color: #00FFE6;
}
.comp p {
    padding: 0px 10px;
    margin: 0px auto;
    color: #F2F2F2;
    font: sans-serif;
    letter-spacing: 0.08em;
    text-align: left;
}
.cars {
    margin: 10px 0px 30px 235px;
    width: 510px;
    border: 2px solid #000000;
    padding: 10px 0px;
    background: url(innerbg1.jpg);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.cars h2 {
    width: 400px;
    margin: 0px;
    padding: 0px 0px 0px 25px;
    background: url(textbg.jpg) no-repeat left top;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    position: absolute;
    top: -24px;
    z-index: 1;
    left: -3px;
    height: 23px;
    color: #00FFE6;
}
.cars p {
    padding: 0px 10px;
    margin: 0px auto;
    color: #F2F2F2;
    font: sans-serif;
    letter-spacing: 0.08em;
    text-align: left;
}
.Video-Games {
    margin: 10px 0px 30px 235px;
    width: 510px;
    border: 2px solid #000000;
    padding: 10px 0px;
    background: url(innerbg1.jpg);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.Video-Games h2 {
    width: 400px;
    margin: 0px;
    padding: 0px 0px 0px 25px;
    background: url(textbg.jpg) no-repeat left top;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    position: absolute;
    top: -24px;
    z-index: 1;
    left: -3px;
    height: 23px;
    color: #00FFE6;
}
.Video-Games p {
    padding: 0px 10px;
    margin: 0px auto;
    color: #F2F2F2;
    font: sans-serif;
    letter-spacing: 0.08em;
    text-align: left;
}
.Music {
    margin: 10px 0px 30px 235px;
    width: 510px;
    border: 2px solid #000000;
    padding: 10px 0px;
    background: url(innerbg1.jpg);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.Music h2 {
    width: 400px;
    margin: 0px;
    padding: 0px 0px 0px 25px;
    background: url(textbg.jpg) no-repeat left top;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    position: absolute;
    top: -24px;
    z-index: 1;
    left: -3px;
    height: 23px;
    color: #00FFE6;
}
.Music p {
    padding: 0px 10px;
    margin: 0px auto;
    color: #F2F2F2;
    font: sans-serif;
    letter-spacing: 0.08em;
    text-align: left;
}
.coding {
    margin: 10px 0px 30px 235px;
    width: 510px;
    border: 2px solid #000000;
    padding: 10px 0px;
    background: url(innerbg1.jpg);
    text-align: center;
    position: relative;
    top: 0px;
    left: 0px;
    z-index: 3;
}
.coding h2 {
    width: 400px;
    margin: 0px;
    padding: 0px 0px 0px 25px;
    background: url(textbg.jpg) no-repeat left top;
    font-size: 16px;
    line-height: 24px;
    text-align: left;
    position: absolute;
    top: -24px;
    z-index: 1;
    left: -3px;
    height: 23px;
    color: #00FFE6;
}
.coding p {
    padding: 0px 10px;
    margin: 0px auto;
    color: #F2F2F2;
    font: sans-serif;
    letter-spacing: 0.08em;
    text-align: left;
}
.sidebar {
    margin: 7em 10px 0px 12px;
    padding: 250px;
    width: 200px;
    position: fixed;
    left: 0px;
    top: 80px;
    z-index: 2;
}
.sidebar h3 {
    border-top: 0px #000000;
    border-right: 1px solid #000000;
    border-bottom: 0px #000000;
    border-left: 0px #000000;
    margin: 0px;
    padding: 0px;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    top: 220px;
    z-index: 1;
    height: 23px;
    white-space: nowrap;
    overflow: hidden;
    color: #00FFE6;
}
